.building-construction-materials-bgcontainer {
    margin-top: 35px;
}

.building-construction-materials-heading {
    border: none;
    padding: 15px;
    margin: 15px 0;
    color: #ddd;
    background-image: linear-gradient(to left, white, rgb(25, 25, 206));
}

.span-see-all {
    font-size: small;
    font-weight: 300;
    margin-left: 30px;
    color: black;
}

.building-construction-materials-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.building-construction-materials {
    width: 300px;
    height: 510px;
    padding: 20px;
    margin: 10px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;

}

.building-construction-materials-para {
    color: #f9f9f9;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    &:hover {
        display: block;
    }
}

.building-construction-materials-btn {
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid red;

    &:hover {
        border: none;
        transform: translateY(6px);
        box-shadow: 1px 1px 3px 1px red;
    }
}

.building-construction-materials-products {
    height: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 25px;
    margin: 15px 0;
    gap: 25px;
    overflow-y: auto;
    background-color: rgb(204, 199, 199);
}

.building-construction-materials-product {
    width: 300px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #dcdcdc;

    &:hover {
        transform: scale(1.1);
        box-shadow: 1px 1px 3px 1px rgb(0, 0, 0);
    }
}

.building-construction-materials-product-para {
    font-size: x-small;
}

.building-construction-materials-img {
    height: 150px;
    width: 150px;
    mix-blend-mode: multiply;
    filter: contrast(1);
}

@media screen and (max-width:576px) {
    .building-construction-materials-products {
        grid-template-columns: repeat(1, 1fr);
    }

    .building-construction-materials-heading {
        font-size: 20px;
    }
}